@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgb(18, 21, 24);
}

footer{
  padding: 0.3em;
  margin-top: 20px;
  background-color: rgb(1, 38, 71);
  height: fit-content;
  display: flex;
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer img{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  *{
    margin: 0;
    padding: 0;
  }

  body{
    background-color: aqua;
  }
}